body{
	background-color:lightblue;
}

h1{
	color: #00008B;
    text-align:center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin:4px;
    padding:3px;
    border:4px solid black;
}
.navigation{
    color:white;
	border: 3px ridge;
    background-color:#0000EE;
    padding:3px;
}

.left{
	float:left;
    padding:0px 0px 0px 50px;
}

.right{
	float:left;
	padding:0px 0px 0px 1000px;
}

.img{
    float:right;
	display:block;
    margin:10px;
    width: 30%;
    padding:3px;
    border: 5px double brown;
}